@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: #f9fafb;
  --foreground: #030712;

  --hero-subtext: #374151;
  --hero-overview: #6b7280;

  --navbar-background: #030712;
  --navbar-text: #d1d5db;
  --navbar-border: #9ca3af;

  --skills-background: #FFFFFF;
  --skills-border: #f3f4f6;

  --project-background: #FFFFFF;
  --project-after-background: #1f2937;
  --project-after-text: #FFFFFF;
  --project-border: #f3f4f6;

  --footer-text: #d1d5db;
  --footer-background: #030712;

  --iconfill: #000000;

  --theme-button-border: #6b7280;
  --theme-icon-colour: var(--theme-button-border);
  --theme-button-border-active: #f9fafb;
  --theme-icon-colour-active: var(--theme-button-border-active);

  --burger-colour: #f9fafb;
}

html.dark {
  --background: #000000;
  --background-secondary: #030712;
  --foreground: #ededed;

  --navbar-background: #000000;
  --navbar-text-hover: #FFFFFF;

  --skills-background: #111827;
  --skills-border: #374151;

  --project-background: #111827;
  --project-border: #374151;

  --footer-background: #000000;

  --iconfill: #FFFFFF;
}


/*
gray-50: #f9fafb
gray-100: #f3f4f6
gray-200: #e5e7eb
gray-300: #d1d5db
gray-400: #9ca3af
gray-500: #6b7280
gray-600: #4b5563
gray-700: #374151
gray-800: #1f2937
gray-900: #111827
gray-950: #030712
*/


@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideUpAndGrow {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInSlideDownAndGrow {
  0% {
    opacity: 0;
    transform: translateY(-40px) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
